$primary-light: #FDDCC4;
$primary: #F1CDB3;

//---------LIGHT
$light-xl: #FFFFFF;
$light-l: #F6F6F6;
$light-s: #FAFAFA;

//---------DARCK
$darck-s: #CDCDCD;
$darck-m: #B2B2B2;
$darck-l: #545454;
$darck-xl: #4C4C4C;
$darck-3xl: #292929;






