//      *NULL*

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img {
    vertical-align: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    height: 100%;
    font-size: 15px;
    font-style: normal;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 14px;
    background-color: #fff;
    color: #000;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1280px;
    margin: 0px auto;
    background-image: url(/SHELTER/assets/images/start-bkg.png);
    background-repeat: no-repeat;
}