@import 'colors';
@import 'null';

.start {
    background-image: url(../assets/images/start-bkg.png);
    background-repeat: no-repeat;
  }
h3 {
    font-family: 'Georgia', Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color:  $darck-l;
}

//-----------*HEADER*-----------

.header {
&__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px 60px 40px;
    height: 60px;
        }
    &__logo {
        position: relative;
        min-width: max-content;
        height: 60px;
        &.title {
            position: absolute;
            width: 184px;
            height: 35px;
            color: $primary;
            font-family: 'Georgia', Regular;
            font-style: normal;
            font-size: 212%;
            line-height: 110%;
            letter-spacing: 0.06em;
        }
        &.subtitle {
            position: absolute;
            color: $light-xl;
            font-size: 86%;
            line-height: 107%;
            letter-spacing: 0.1em;
            width: 179px;
            height: 15px;
            left: 4px;
            bottom: 0;
        }
    }
}
.menu {
    position: relative;
    align-self: center;
    &__list {
        display: flex;
        justify-content: space-between;
        width: 443px;
    &__item{
        background-color: aqua;
    }
    }
    &__link {
        position: relative;
        left: 0;
        min-width: auto;
        color: $darck-s;    
        &:hover {
            color: $light-xl;
            text-decoration: $light-xl;
        }
    }    
}

//-----------*SRAT PAGE*-----------

.page {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    height: 758px;
    &__content{
        position: relative;
        width: 460px;
        height: 322px;
        top: 163px;
    }
    &__head {
        position: absolute;
        display: flex;
        align-items: center;
        width: 310px;
        height: 114px;
        left: calc(50% - 310px/2 - 75px);
        bottom: 208px;
        font-family: 'Georgia';
        font-size: 44px;
        line-height: 130%;
        color: $light-xl;
    }
    &__subhead{
        position: absolute;
        width: 460px;
        height: 72px;
        left: calc(50% - 460px/2);
        bottom: 94px;
        line-height: 160%;
        font-family: 'Arial';
        font-size: 15px;
        color: $darck-s;
    }
    &__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 207px;
        height: 52px;
        border-radius: 100px;
        background-color: bisque;
        bottom: 0px;
        &__btn {
            letter-spacing: 0.06em;
            left: 21.74%;
            right: 21.74%;
            top: 28.85%;
            bottom: 28.85%;
            margin: 10px 0px;
            font-family: 'Georgia', Regular;
            text-align: center;
            font-size: 17px;
            line-height: 130%;
            color: $darck-3xl;
        }
    }
        &__puppy {
        background-image: url(/SHELTER/assets/images/puppy.png);
        background-repeat: no-repeat;
        width: 698px;
        height: 728px;
        left: calc(50% - 698px/2 + 251px);
        bottom: 0;
    }
}

//-----------*ABOUT*-----------

.about {
    background-color: rgb(255, 255, 255);
    height: 588px;
    padding: 80px 40px 100px 40px;
    &__container {
        display: flex;
        justify-content: space-around;
        margin: auto 115px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        top: 14px;
        height: 380px;
        width: 430px;
    }
    &__heading {
        width: 370px;
    }
    &__subheading {
        font-family: 'Arial';
        line-height: 160%;
        color: $darck-xl;
    }
}

//-----------*PETS*-----------

.pets {
    background-color: $light-l;
    height: 877px;
    padding: 80px 40px 100px 40px;
    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100%;
    }
    &__heading {
        text-align: center;
        width: 400px;
        height: 90px;
        }   
    &__button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        width: 261px;
        height: 52px;
        border-radius: 100px;
        background-color: bisque;
            &__btn {
            margin: 10px 0px;
            font-family: 'Georgia', Regular;
            font-size: 17px;
            align-self: center;
            letter-spacing: 0.06em;
            line-height: 130%;
            color: $darck-3xl;
            }
        }
}

//-----------*SLIDER*-----------  

.slider-wrap {
    max-width: 86.9%;
    height: 435px;
    margin: 60px 0px;
    overflow: hidden;
.animate{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1738px;
    transition-property: transform;
    transition-duration: 0.8s;
    }
.slide {
    min-width: 347px;
    height: 435px;
    float: left;
    transform: translate(-347px);
    z-index: 29;
    }
.controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 30;
    }
.prev {
        width: 52px;
        height: 52px;
        padding: 15px 0px;
        border-radius: 100px;
        border: 2px solid $primary;
        text-align: center;
        cursor: pointer;
    }
.next {
        width: 52px;
        height: 52px;
        padding: 15px 0px;
        border-radius: 100px;
        border: 2px solid $primary;
        text-align: center;
        transform: rotate(-180deg);
        cursor: pointer;
    }

}

.card {
    position: relative;
    text-align: center;
    margin: 0 11%;
    background-color: $light-s;
    border-radius: 9px 9px 0px 0px;
    &__img {
        max-width: 100%;
    }
    &__title {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 112px;
    }
    &__btn {
        position: absolute;
        margin: auto;
        bottom: 30px;
        left: 0;
        right: 0;
        width: 187px;
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        padding: 15px 45px;
        border-radius: 100px;
        cursor: pointer;
    }
    &__text {
        font-family: 'Georgia', Regular;
        width: 98px;
        font-size: 17px;
        letter-spacing: 0.06em;
        line-height: 130%;
        color: $darck-3xl;
    }
}

 //-----------*HELP*-----------

.help {
    background-color: rgb(93, 255, 193);
    height: 611px;  
}

//-----------*DONATION*-----------

.donation {
    background-color: rgb(231, 255, 93);
    height: 462px;  
}

//-----------*FOOTER*-----------

.footer {
    background-color: rgb(131, 255, 93);
    height: 350px;  
}
