*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  font-size: 15px;
  font-style: normal;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 14px;
  background-color: #fff;
  color: #000;
}

.wrapper {
  max-width: 1280px;
  margin: 0px auto;
  min-height: 100%;
  overflow: hidden;
}

._container {
  background-image: url(assets/images/start-bkg.png);
  background-repeat: no-repeat;
}

.start {
  background-image: url(assets/images/start-bkg.png);
  background-repeat: no-repeat;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 40px 60px 40px;
  height: 60px;
}

.header__logo {
  position: relative;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  height: 60px;
}

.header__logo.title {
  position: absolute;
  width: 184px;
  height: 35px;
  color: #F1CDB3;
  font-family: 'Georgia', Regular;
  font-style: normal;
  font-size: 212%;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header__logo.subtitle {
  position: absolute;
  color: #FFFFFF;
  font-size: 86%;
  line-height: 107%;
  letter-spacing: 0.1em;
  width: 179px;
  height: 15px;
  left: 4px;
  bottom: 0;
}

.menu {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 443px;
}

.menu__list__item {
  background-color: aqua;
}

.menu__link {
  position: relative;
  left: 0;
  min-width: auto;
  color: #CDCDCD;
}

.menu__link:hover {
  color: #FFFFFF;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
}

.page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px;
  height: 758px;
}

.page__content {
  position: relative;
  width: 460px;
  height: 322px;
  top: 163px;
}

.page__head {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 114px;
  left: calc(50% - 310px/2 - 75px);
  bottom: 208px;
  font-family: 'Georgia';
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.page__subhead {
  position: absolute;
  width: 460px;
  height: 72px;
  left: calc(50% - 460px/2);
  bottom: 94px;
  line-height: 160%;
  font-family: 'Arial';
  font-size: 15px;
  color: #CDCDCD;
}

.page__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  text-align: center;
  color: black;
  background-color: bisque;
  bottom: 0px;
}

.page .btn {
  letter-spacing: 0.06em;
  left: 21.74%;
  right: 21.74%;
  top: 28.85%;
  bottom: 28.85%;
  margin: 10px 0px;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  color: #292929;
}

.page__puppy {
  background-image: url(assets/images/puppy.png);
  width: 698px;
  height: 728px;
  left: calc(50% - 698px/2 + 251px);
  bottom: 0;
}

.about {
  background-color: aquamarine;
  height: 588px;
}

.pets {
  background-color: #5da3ff;
  height: 877px;
}

.help {
  background-color: #5dffc1;
  height: 611px;
}

.donation {
  background-color: #e7ff5d;
  height: 462px;
}

.footer {
  background-color: #83ff5d;
  height: 350px;
}
/*# sourceMappingURL=style.css.map */
