*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  font-size: 15px;
  font-style: normal;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 14px;
  background-color: #fff;
  color: #000;
}

.wrapper {
  max-width: 1280px;
  margin: 0px auto;
  min-height: 100%;
  overflow: hidden;
}

.start {
  background-image: url(../assets/images/start-bkg.png);
  background-repeat: no-repeat;
}

h3 {
  font-family: 'Georgia', Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 40px 60px 40px;
  height: 60px;
}

.header__logo {
  position: relative;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  height: 60px;
}

.header__logo.title {
  position: absolute;
  width: 184px;
  height: 35px;
  color: #F1CDB3;
  font-family: 'Georgia', Regular;
  font-style: normal;
  font-size: 212%;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header__logo.subtitle {
  position: absolute;
  color: #FFFFFF;
  font-size: 86%;
  line-height: 107%;
  letter-spacing: 0.1em;
  width: 179px;
  height: 15px;
  left: 4px;
  bottom: 0;
}

.menu {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 443px;
}

.menu__list__item {
  background-color: aqua;
}

.menu__link {
  position: relative;
  left: 0;
  min-width: auto;
  color: #CDCDCD;
}

.menu__link:hover {
  color: #FFFFFF;
  -webkit-text-decoration: #FFFFFF;
          text-decoration: #FFFFFF;
}

.page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px;
  height: 758px;
}

.page__content {
  position: relative;
  width: 460px;
  height: 322px;
  top: 163px;
}

.page__head {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 114px;
  left: calc(50% - 310px/2 - 75px);
  bottom: 208px;
  font-family: 'Georgia';
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.page__subhead {
  position: absolute;
  width: 460px;
  height: 72px;
  left: calc(50% - 460px/2);
  bottom: 94px;
  line-height: 160%;
  font-family: 'Arial';
  font-size: 15px;
  color: #CDCDCD;
}

.page__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: bisque;
  bottom: 0px;
}

.page__button__btn {
  letter-spacing: 0.06em;
  left: 21.74%;
  right: 21.74%;
  top: 28.85%;
  bottom: 28.85%;
  margin: 10px 0px;
  font-family: 'Georgia', Regular;
  text-align: center;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
}

.page__puppy {
  background-image: url(/SHELTER/assets/images/puppy.png);
  background-repeat: no-repeat;
  width: 698px;
  height: 728px;
  left: calc(50% - 698px/2 + 251px);
  bottom: 0;
}

.about {
  background-color: white;
  height: 588px;
  padding: 80px 40px 100px 40px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto 115px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 14px;
  height: 380px;
  width: 430px;
}

.about__heading {
  width: 370px;
}

.about__subheading {
  font-family: 'Arial';
  line-height: 160%;
  color: #4C4C4C;
}

.pets {
  background-color: #F6F6F6;
  height: 877px;
  padding: 80px 40px 100px 40px;
}

.pets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.pets__heading {
  text-align: center;
  width: 400px;
  height: 90px;
}

.pets__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  width: 261px;
  height: 52px;
  border-radius: 100px;
  background-color: bisque;
}

.pets__button__btn {
  margin: 10px 0px;
  font-family: 'Georgia', Regular;
  font-size: 17px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
}

.slider-wrap {
  max-width: 86.9%;
  height: 435px;
  margin: 60px 0px;
  overflow: hidden;
}

.slider-wrap .animate {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1738px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.slider-wrap .slide {
  min-width: 347px;
  height: 435px;
  float: left;
  -webkit-transform: translate(-347px);
          transform: translate(-347px);
  z-index: 29;
}

.slider-wrap .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 30;
}

.slider-wrap .prev {
  width: 52px;
  height: 52px;
  padding: 15px 0px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  text-align: center;
  cursor: pointer;
}

.slider-wrap .next {
  width: 52px;
  height: 52px;
  padding: 15px 0px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  text-align: center;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  cursor: pointer;
}

.card {
  position: relative;
  text-align: center;
  margin: 0 11%;
  background-color: #FAFAFA;
  border-radius: 9px 9px 0px 0px;
}

.card__img {
  max-width: 100%;
}

.card__title {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 112px;
}

.card__btn {
  position: absolute;
  margin: auto;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 187px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 45px;
  border-radius: 100px;
  cursor: pointer;
}

.card__text {
  font-family: 'Georgia', Regular;
  width: 98px;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: #292929;
}

.help {
  background-color: #5dffc1;
  height: 611px;
}

.donation {
  background-color: #e7ff5d;
  height: 462px;
}

.footer {
  background-color: #83ff5d;
  height: 350px;
}
/*# sourceMappingURL=style.css.map */